<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.threeone.mealplanner.mapper.RestTypeMapper" >
  <resultMap id="BaseResultMap" type="com.threeone.mealplanner.model.entity.RestType" >
    <id column="restTypeId" property="resttypeid" jdbcType="INTEGER" />
    <result column="restTypeName" property="resttypename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    restTypeId, restTypeName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from resttype
    where restTypeId = #{resttypeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from resttype
    where restTypeId = #{resttypeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.threeone.mealplanner.model.entity.RestType" >
    insert into resttype (restTypeId, restTypeName)
    values (#{resttypeid,jdbcType=INTEGER}, #{resttypename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.threeone.mealplanner.model.entity.RestType" >
    insert into resttype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resttypeid != null" >
        restTypeId,
      </if>
      <if test="resttypename != null" >
        restTypeName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resttypeid != null" >
        #{resttypeid,jdbcType=INTEGER},
      </if>
      <if test="resttypename != null" >
        #{resttypename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.threeone.mealplanner.model.entity.RestType" >
    update resttype
    <set >
      <if test="resttypename != null" >
        restTypeName = #{resttypename,jdbcType=VARCHAR},
      </if>
    </set>
    where restTypeId = #{resttypeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.threeone.mealplanner.model.entity.RestType" >
    update resttype
    set restTypeName = #{resttypename,jdbcType=VARCHAR}
    where restTypeId = #{resttypeid,jdbcType=INTEGER}
  </update>
</mapper>