<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.threeone.mealplanner.mapper.RestaurantInfoMapper" >
  <resultMap id="BaseResultMap" type="com.threeone.mealplanner.model.entity.RestaurantInfo" >
    <id column="restId" property="restid" jdbcType="INTEGER" />
    <result column="restName" property="restname" jdbcType="VARCHAR" />
    <result column="restPhone" property="restphone" jdbcType="VARCHAR" />
    <result column="restCity" property="restcity" jdbcType="INTEGER" />
	<result column="cityName" property="restcityname" jdbcType="VARCHAR" />
    <result column="restAddress" property="restaddress" jdbcType="VARCHAR" />
    <result column="restWebsite" property="restwebsite" jdbcType="VARCHAR" />
    <result column="restType" property="resttype" jdbcType="INTEGER" />
    <result column="restTypeName" property="restTypeName" jdbcType="VARCHAR" />
    <result column="restSearchTime" property="restsearchtime" jdbcType="INTEGER" />
    <result column="hot" property="hot" jdbcType="INTEGER" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    restId, restName, restPhone, restCity, cityName, restAddress, restWebsite, restType, restTypeName, restSearchTime, 
    hot, longitude, latitude
  </sql>
  
  <!-- For restInfoForMap -->
  <resultMap id="MapRestInfo" type="com.threeone.mealplanner.model.RestInfoForMap" >
    <id column="restId" property="restId" jdbcType="INTEGER" />
    <result column="restName" property="restName" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="MapRestInfoList" >
    restId, restName, longitude, latitude
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from restaurantinfo, resttype, restcity
    where restId = #{restid,jdbcType=INTEGER} and restaurantinfo.restType = resttype.restTypeId and restaurantinfo.restCity=restcity.cityId
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from restaurantinfo
    where restId = #{restid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.threeone.mealplanner.model.entity.RestaurantInfo" >
    insert into restaurantinfo (restId, restName, restPhone, 
      restCity, restAddress, restWebsite, 
      restType, restSearchTime, hot, 
      longitude, latitude)
    values (#{restid,jdbcType=INTEGER}, #{restname,jdbcType=VARCHAR}, #{restphone,jdbcType=VARCHAR}, 
      #{restcity,jdbcType=INTEGER}, #{restaddress,jdbcType=VARCHAR}, #{restwebsite,jdbcType=VARCHAR}, 
      #{resttype,jdbcType=INTEGER}, #{restsearchtime,jdbcType=INTEGER}, #{hot,jdbcType=INTEGER}, 
      #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.threeone.mealplanner.model.entity.RestaurantInfo" >
    insert into restaurantinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="restid != null" >
        restId,
      </if>
      <if test="restname != null" >
        restName,
      </if>
      <if test="restphone != null" >
        restPhone,
      </if>
      <if test="restcity != null" >
        restCity,
      </if>
      <if test="restaddress != null" >
        restAddress,
      </if>
      <if test="restwebsite != null" >
        restWebsite,
      </if>
      <if test="resttype != null" >
        restType,
      </if>
      <if test="restsearchtime != null" >
        restSearchTime,
      </if>
      <if test="hot != null" >
        hot,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="restid != null" >
        #{restid,jdbcType=INTEGER},
      </if>
      <if test="restname != null" >
        #{restname,jdbcType=VARCHAR},
      </if>
      <if test="restphone != null" >
        #{restphone,jdbcType=VARCHAR},
      </if>
      <if test="restcity != null" >
        #{restcity,jdbcType=INTEGER},
      </if>
      <if test="restaddress != null" >
        #{restaddress,jdbcType=VARCHAR},
      </if>
      <if test="restwebsite != null" >
        #{restwebsite,jdbcType=VARCHAR},
      </if>
      <if test="resttype != null" >
        #{resttype,jdbcType=INTEGER},
      </if>
      <if test="restsearchtime != null" >
        #{restsearchtime,jdbcType=INTEGER},
      </if>
      <if test="hot != null" >
        #{hot,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.threeone.mealplanner.model.entity.RestaurantInfo" >
    update restaurantinfo
    <set >
      <if test="restname != null" >
        restName = #{restname,jdbcType=VARCHAR},
      </if>
      <if test="restphone != null" >
        restPhone = #{restphone,jdbcType=VARCHAR},
      </if>
      <if test="restcity != null" >
        restCity = #{restcity,jdbcType=INTEGER},
      </if>
      <if test="restaddress != null" >
        restAddress = #{restaddress,jdbcType=VARCHAR},
      </if>
      <if test="restwebsite != null" >
        restWebsite = #{restwebsite,jdbcType=VARCHAR},
      </if>
      <if test="resttype != null" >
        restType = #{resttype,jdbcType=INTEGER},
      </if>
      <if test="restsearchtime != null" >
        restSearchTime = #{restsearchtime,jdbcType=INTEGER},
      </if>
      <if test="hot != null" >
        hot = #{hot,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
    </set>
    where restId = #{restid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.threeone.mealplanner.model.entity.RestaurantInfo" >
    update restaurantinfo
    set restName = #{restname,jdbcType=VARCHAR},
      restPhone = #{restphone,jdbcType=VARCHAR},
      restCity = #{restcity,jdbcType=INTEGER},
      restAddress = #{restaddress,jdbcType=VARCHAR},
      restWebsite = #{restwebsite,jdbcType=VARCHAR},
      restType = #{resttype,jdbcType=INTEGER},
      restSearchTime = #{restsearchtime,jdbcType=INTEGER},
      hot = #{hot,jdbcType=INTEGER},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE}
    where restId = #{restid,jdbcType=INTEGER}
  </update>
  
  <select id="getAllRestaurantInfos" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from restaurantinfo, resttype, restcity
    where restaurantinfo.restType = resttype.restTypeId and restaurantinfo.restCity=restcity.cityId
  </select>
  
  <select id="getSeveralRestaurantInfos" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from restaurantinfo, resttype, restcity
    where restaurantinfo.restType = resttype.restTypeId and restaurantinfo.restCity=restcity.cityId
    limit #{startFrom,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  </select>
  
  <select id="getRestInfoByExactName" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from restaurantinfo, resttype, restcity
    where restaurantinfo.restType = resttype.restTypeId and restaurantinfo.restName=#{restName,jdbcType=VARCHAR}
    and restaurantinfo.restCity=restcity.cityId
  </select>
  
  <select id="getRestsByName" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from restaurantinfo, resttype,restcity
    where restaurantinfo.restType = resttype.restTypeId and restaurantinfo.restName like CONCAT('%',#{restName,jdbcType=VARCHAR},'%' )
    and restaurantinfo.restCity=restcity.cityId 
  </select>
  
   <select id="getRestInfoForMaps" resultMap="MapRestInfo">
    select 
    <include refid="MapRestInfoList" />
    from restaurantinfo
    where restName=#{restName,jdbcType=VARCHAR}
  </select>
  
</mapper>