<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.threeone.mealplanner.mapper.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.threeone.mealplanner.model.entity.UserInfo" >
    <id column="userId" property="userid" jdbcType="INTEGER" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phoneNum" property="phonenum" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="registerDate" property="registerdate" jdbcType="TIMESTAMP" />
    <result column="userType" property="usertype" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    userId, userName, email, phoneNum, password, registerDate, userType
  </sql>
  
  <resultMap id="UserShowResult" type="com.threeone.mealplanner.model.UserInfoForShow" >
    <id column="userId" property="userid" jdbcType="INTEGER" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phoneNum" property="phonenum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="userShowList" >
    userId, userName, email, phoneNum
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from userinfo
    where userId = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from userinfo
    where userId = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.threeone.mealplanner.model.entity.UserInfo" >
    insert into userinfo (userId, userName, email, 
      phoneNum, password, registerDate, 
      userType)
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{phonenum,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{registerdate,jdbcType=TIMESTAMP}, 
      #{usertype,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.threeone.mealplanner.model.entity.UserInfo" >
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userId,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="phonenum != null" >
        phoneNum,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="registerdate != null" >
        registerDate,
      </if>
      <if test="usertype != null" >
        userType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null" >
        #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="registerdate != null" >
        #{registerdate,jdbcType=TIMESTAMP},
      </if>
      <if test="usertype != null" >
        #{usertype,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.threeone.mealplanner.model.entity.UserInfo" >
    update userinfo
    <set >
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null" >
        phoneNum = #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="registerdate != null" >
        registerDate = #{registerdate,jdbcType=TIMESTAMP},
      </if>
      <if test="usertype != null" >
        userType = #{usertype,jdbcType=INTEGER},
      </if>
    </set>
    where userId = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.threeone.mealplanner.model.entity.UserInfo" >
    update userinfo
    set userName = #{username,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phoneNum = #{phonenum,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      registerDate = #{registerdate,jdbcType=TIMESTAMP},
      userType = #{usertype,jdbcType=INTEGER}
    where userId = #{userid,jdbcType=INTEGER}
  </update>
  
  <select id="getUserInfoByLogin" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from userinfo
    where (userName = #{loginName,jdbcType=VARCHAR} or email = #{loginName,jdbcType=VARCHAR} or phoneNum = #{loginName,jdbcType=VARCHAR})
  </select>
  
  <select id="getUserInfoForCheck" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from userinfo
    where 
    <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR} or phoneNum = #{username,jdbcType=VARCHAR} or email = #{username,jdbcType=VARCHAR}
    </if>
    <if test="phonenum != null" >
        userName = #{phonenum,jdbcType=VARCHAR} or phoneNum = #{phonenum,jdbcType=VARCHAR} or email = #{phonenum,jdbcType=VARCHAR}
    </if>
    <if test="email != null" >
        userName = #{email,jdbcType=VARCHAR} or phoneNum = #{email,jdbcType=VARCHAR} or email = #{email,jdbcType=VARCHAR}
    </if>
  </select>
  
  <select id="getUserInfoById" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from userinfo
    where userId = #{userId,jdbcType=INTEGER}
  </select>
  
   <select id="getUserInfoForShow" resultMap="UserShowResult">
    select 
    <include refid="userShowList" />
    from userinfo
    where userId = #{userId,jdbcType=INTEGER}
  </select>
  
</mapper>